/*=============================================================
4-Services
===============================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
  .services-section .col-lg-7 {
    flex: 1 0 58.333333%;
    max-width: 68.333333%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-section .col-lg-7 {
    flex: 0 0 82%;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .services-section .services-item .mb-62 {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 767px) {
  .services-section .services-item {
    padding: 0 8.25rem;
  }
  .services-section .services-item .mb-62 {
    margin-bottom: 0rem;
  }
}
@media (max-width: 470px) {
  .services-section .services-item {
    padding: 0 5.25rem;
    text-align: center !important;
  }
}
